body{
    background: linear-gradient(rgb(71, 66, 82), rgb(65, 61, 68));
    font-family: sans-serif;
    font-size: 16px;
}

.box{
    width: 100%;
    height: 100px;
    margin: 0;
    background: url(https://www2.minijuegosgratis.com/v3/games/thumbnails/204979_1.jpg) center / cover fixed #000
}

.opaco{
    width: 100%;
    height: 100%;
    background-color: #000a;
}

h2{
    color: #fff;
    font-family: sans-serif;
    font-size: 2rem;
    padding: 20px;
    text-align: right;
}