h1{
    margin: 0 100px;    
    font-size: 250%;
    background: white;
    margin: 0 0 25px 0;
    text-align: center;
}

.formulario {
    background: rgb(199, 162, 116);
    padding: 25px;
    width: 300px;
    margin: 50px 100px;
}
.formulario_input{
    padding: 10px;
    width: 275px;
    text-align: center;
}
.formulario_input_submit{
    padding: 10px;
    width: 299px;
}
