p{
    color: red;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration:none;
    font-style: italic;
    line-height: 1.3;
    letter-spacing: 1.2px;
    text-transform:capitalize;
}
h1{
    text-align: center;
}
