.box {
    width: 100px;
    height: 100px;
    margin: 10px;
    background: #ff0000;
}

.box-default{
    padding: 30px;
    border: 5px solid #000000;
}

.box-new{
    box-sizing: border-box;
    padding: 25px;
    border: 5px solid #000000;
}