body{
    background-color: gray;
}
div{
    background: rgb(51, 51, 51);
    width: 400px;
    margin: auto;
    text-align: center;
    font-size: 100px;
    color: white;
}

div{
    border: 5px solid rgb(36, 36, 36);
    border-radius: 35px;
}