body{
    font-size: 16px;
    margin: 0;
    background-color: #555;
}

div{
    background-color: #ededed;
    padding: 20px;
    font-family: sans-serif;
    border-left: 2px solid #999;
    width: 100vw;
    height: 100vh;
    border-radius: 10px;
    margin: 0;
    box-sizing: border-box;
    margin-top: 1vmax;
}
h1{
    margin: 0;
    font-size: 23px;
}   
span{
    font-size: .7em;
    color: #999;
    font-weight: 100;
    
}
p{
    color: #555;
    font-size: 1em;
}